<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container
        {
            text-transform: capitalize;
            width:70%;
            margin:auto;
        }
        .container div {
        text-align:center
        }
        th, td {
            text-align:left;
            padding:5px
        }



    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>one million</h1>
            <a href="#gdhf">members profile</a>
            <hr>
        </div>

        <table style="width:90%; margin:auto">
            <td><a href="sdfsagsg" >create</a></td>
            <tr>
            <th style="width:70%; ">title</th>
            <th>edit</th>
            <th>delete</th>
            </tr>

            <tr>
                <td style="width:70%;"> topic 1</td>
                <td> <a href="hdcbj">edit</a> </td>
                <td><a href="hdcbj">delete</a></td>
            </tr>
            <tr>
                <td style="width:70%;"> topic 2</td>
                <td> <a href="hdcbj">edit</a> </td>
                <td><a href="hdcbj">delete</a></td>
            </tr>
            <tr>
                <td style="width:70%;"> topic 3</td>
                <td> <a href="hdcbj">edit</a> </td>
                <td><a href="hdcbj">delete</a></td>
            </tr>


        </table>
    </div>
</body>
</html>